:root {
    font-size: 16px;
    
    --primary: bisque;
  
}

@font-face {
    font-family: Teko;

    src: url("/fonts/static/Teko-Regular.ttf");
}

* {
    font-family: Teko;
    box-sizing: border-box;
    margin: 0;
}

