body{
    background-image: url("/photos/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
}
nav{
    width: 100%;
  
    background-color: rgba(187, 161, 128, 0.432);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    
}

ul{
    width: 80%;
    list-style-type: none;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

}

li{
    padding:.5rem;
}

li>img{
    width: 100%;

}

#logo{
    width:6rem;
  
}

#home-icon{
    width:4rem;

}

main{
    width:100%;
    
}


#top{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6rem;

    height:25vh;
    
}

#top>h1{
    height:100%;
    width: 60%;
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 5px;
    text-align: center;

    margin:1rem;
}

.container{

    display: flex;
    flex-direction: row;
    height:75vh;
    background-color:rgba(222, 184, 135, 0.863);
    align-items: center;
    justify-content: center;


    padding-left:1rem;
    padding-right:1rem;



}

.container>*{
  margin:5rem;
}

#inner-container{

}
#book>img{
    width: 50%;
}